.content{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    align-items: center;
    
}
.app{
    background-color: skyblue;
    width: 450px;
    max-height: 700px;
    border-radius: 5%;
    box-shadow: 2px 5px 20px inset rgba(0, 0, 0,0.7);
}
.search{
    background-color: rgb(10, 67, 99);
    width:350px;
    height:50px;
    border-radius: 10px;
    margin-top: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    box-shadow: 5px 5px 20px inset rgba(9, 129, 189, 0.5);
}

.search input[type='text']{
    width: 180px;
    padding:8px;
    border-radius:12px;
    border:none;
}
.search button{
    width:90px;
    height:35px;
    background-color: black;
    color:white;
    border:none;
    border:white 2px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(236, 236, 236);
    cursor: pointer;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
